/* ::::: common ::::: */

/* derived from chrome://browser/content/extension.css */
html, body {
	box-sizing: border-box;
	cursor: default;
	display: flex;
	flex-direction: column;
	font: caption;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-moz-user-select: none;
}

body {
	width: 100vw;
	height: 100vh;
}

:root {
	--active-color: rgb(10,132,255);
}

img, label {
	pointer-events: none;
}

/* ::::: theme:light ::::: */

:root[theme="light"] {
	--background-color: white;
	--separator-color: rgb(200,200,200);
	--shadow-color: rgba(12,12,13,0.1);
	--shadow-color2: rgba(12,12,13,0.2);
	--hover-color: rgb(210,210,210);
	background-color: var(--background-color);
}

:root[theme="light"] .title {
	color: #737373;
}

:root[theme="light"] .tab:hover .title,
:root[theme="light"] .tab[selected] .title {
	color: #0c0c0d;
}

/* ::::: theme:dark ::::: */

:root[theme="dark"] {
	--background-color: #38383d;
	--separator-color: rgb(98,100,120);
	--shadow-color: rgba(243,243,242,0.1);
	--shadow-color2: rgba(243,243,242,0.2);
	--hover-color: rgb(90,90,90);
	background-color: var(--background-color);
}

:root[theme="dark"] .tab[selected] {
	background-color: #4a4a4f;
}

:root[theme="dark"] .title {
	color: #b1b1b3;
}

:root[theme="dark"] .tab:hover .title,
:root[theme="dark"] .tab[selected] .title,
:root[theme="dark"] label {
	color: #ffffff;
}

:root[theme="dark"] button img,
:root[theme="dark"] #newTab img {
	filter: invert(1);
}

:root[theme="dark"] #ctxList button img {
	filter: unset;
}

/* ::::: list ::::: */

#container {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
}

#tabList {
	overflow-x: hidden;
	overflow-y: auto;
}

#tabList[overflow] {
	box-shadow: inset 0px 2px 4px var(--shadow-color);
}

.tab {
	position: relative;
	border-bottom: 1px solid var(--separator-color);
	padding: 4px 2px;
}

#container[stacking="false"] #tabList .tab:last-child {
	border-bottom-width: 0px;
}

.tab .bar {
	padding: 2px;
	display: flex;
	justify-content: stretch;
	align-items: center;
}

.tab .favicon {
	width: 16px; height: 16px;
	background-image: url("/icons/defaultFavicon.svg");
	background-size: 16px 16px;
	z-index: 5;
}

.tab .title {
	flex: 1;
	padding-left: 4px;
	overflow: hidden;
	white-space: nowrap;
	z-index: 4;
}

.tab[selected] .title {
	font-weight: bold;
}

button {
	border: unset;
	background: unset;
	margin: 0px;
	padding: 2px;
	line-height: 0px;
	border-radius: 2px;
}

button > * {
	vertical-align: middle;
}

button.close {
	z-index: 3;
}

button.close img {
	width: 14px;
	height: 14px;
	opacity: 0.7;
}

button:hover {
	background-color: var(--shadow-color);
}

button:active, button[checked] {
	background-color: var(--shadow-color2);
}

.tab[pinned] button {
	display: none;
}

/* ::::: burst ::::: */

/* derived from chrome://browser/skin/browser.css */
.burst {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.burst::before {
	position: absolute;
	content: "";
	width: 5%;
	height: 100%;
	margin-inline-start: calc(12px - 2.5%);
}

.burst[bursting]::before {
	background-image: url("chrome://browser/skin/tabbrowser/loading-burst.svg");
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	animation: burst-animation 375ms cubic-bezier(0,0,.58,1);
	-moz-context-properties: fill;
	fill: var(--active-color);
}

@keyframes burst-animation {
	0%   { opacity: 0.5; transform: scale(1);  }
	100% { opacity: 0;   transform: scale(40); }
}

/* ::::: thumbnail ::::: */

.tab .thumbnail {
	background-size: cover;
	z-index: -1;
	margin: 2px;
}

/* workaround for issue #1 */
:root:not([theme="default"]) .tab .thumbnail {
	z-index: unset;
}

.tab[pinned] .thumbnail {
	height: 0;
}

#tabList[mode="minimal"] .tab .thumbnail {
	height: 0;
	transition: 0.2s ease-out 0.1s;
}

#tabList[mode="compact"] .tab:not([pinned]) .thumbnail {
	height: calc(var(--preview-height) * 0.2);
	transition: 0.2s ease-out 0.1s;
}

#tabList[mode="minimal"] .tab[focus]:not([discarded]):not([url="about:blank"]) .thumbnail,
#tabList[mode="compact"] .tab[focus]:not([pinned]):not([discarded]):not([url="about:blank"]) .thumbnail,
#tabList[mode="full"] .tab:not([pinned]) .thumbnail {
	height: var(--preview-height);
}

#tabList:not([mode="full"])[effect="true"] .tab .thumbnail {
	transform-origin: 0% 0%;
	transform: skew(45deg);
}

#tabList:not([mode="full"])[effect="true"] .tab[focus] .thumbnail {
	transform: skew(0deg);
}

/* ::::: new tab button ::::: */

#newTab {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 2px;
	border-top: 1px solid var(--separator-color);
	border-bottom: 1px solid var(--separator-color);
	transition: 1s;
}

#newTab[flash] {
	background-color: var(--active-color);
	transition: 0.1s;
}

#newTab img {
	opacity: 0.5;
}

#newTab:hover img {
	opacity: 1;
}

#container[stacking="true"] #newTab {
	order: 1;
}

#container[stacking="true"] #pinList {
	order: 2;
}

#container[stacking="true"] #tabList {
	order: 3;
}

/* ::::: drop feedback ::::: */

#dropline {
	position: absolute;
	width: 100vw;
	height: 2px;
	background-color: #000;
}

:root[theme="dark"] #dropline {
	background-color: #FFF;
}

/* ::::: active line ::::: */

#container[activeline="left"] .tab {
	border-left: 5px solid transparent;
	background-repeat: no-repeat;
}

#container[activeline="left"] .tab:hover {
	border-left-color: var(--hover-color);
}

#container[activeline="left"] .tab[selected] {
	border-left-color: var(--active-color);
}

#container[activeline="right"] .tab {
	border-right: 6px solid transparent;
	background-repeat: no-repeat;
	padding-right: 0;
}

#container[activeline="right"] .tab:hover {
	border-right-color: var(--hover-color);
}

#container[activeline="right"] .tab[selected] {
	border-right-color: var(--active-color);
}

.tab[data-context] {
	background-image: linear-gradient(135deg, var(--active-color) 16px, transparent 0);
}

/* ::::: hide scrollbar ::::: */

#tabList[hidescroll="true"] {
	overflow-y: scroll;
	margin-right: calc(var(--scroll-width) * -1);
}

/* ::::: popup ::::: */

#popup {
	border: 1px solid ThreeDShadow;
	background-color: ButtonFace;
	padding: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	position: absolute;
	min-width: 10em;
	z-index: 100;
}

#popup div {
	padding: 3px 6px;
	color: MenuText;
	font: menu;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#popup div:hover {
	background-color: rgb(144,200,246);
}

#popup div[disabled] {
	color: GrayText;
}

#popup div[disabled]:hover {
	background-color: ThreeDLightShadow;
}

#popup hr {
	margin: 2px 1px;
	padding: 0;
	border-top: 1px solid ThreeDShadow;
	border-bottom: 1px solid ThreeDHighlight;
}

/* ::::: menu ::::: */

#menu:not([open]) {
	display: none;
}

#menu {
	position: absolute;
	bottom: 0px;
	display: flex;
	flex-direction: raw;
	align-items: end;
	padding: 1px;
	background-color: var(--background-color);
	border: 1px 1px 0px 0px solid var(--separator-color);
	border-top-right-radius: 6px;
	box-shadow: 2px -2px 2px var(--shadow-color);
	z-index: 99;
}

#menu button {
	display: block;
	margin: 1px;
	line-height: unset;
}

#menu[open="false"] button:not(#menu_toggle),
#menu[open="false"] #ctxList {
	display: none;
}

#menu button img {
	opacity: 0.5;
}

#menu button:hover img,
#menu button:hover label {
	opacity: 1;
}

#ctxList {
	align-self: flex-start;
	margin-left: 2px;
	padding: 0px 2px;
	border-left: 1px solid var(--separator-color);
}

#ctxList button {
	width: 100%;
}

#ctxList button img {
	width: 16px;
	height: 16px;
	-moz-context-properties: fill;
	opacity: unset;
}

#ctxList button label {
	font: caption;
	opacity: 0.7;
	margin: 0px 4px;
}

#ctx {
	display: none !important;
}

