/* ::::: common ::::: */

/* derived from chrome://browser/content/extension.css */
html, body {
	box-sizing: border-box;
	cursor: default;
	display: flex;
	flex-direction: column;
	font: message-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-moz-user-select: none;
}

body {
	width: 100vw;
	height: 100vh;
}

:root {
	--active-color: rgb(10,132,255);
}

img, label {
	pointer-events: none;
}

/* ::::: theme:light ::::: */

:root[theme="light"] {
	--background-color: white;
	--separator-color: rgb(200,200,200);
	--shadow-color: rgba(12,12,13,0.1);
	--shadow-color2: rgba(12,12,13,0.2);
	--hover-color: rgb(210,210,210);
	background-color: var(--background-color);
}

:root[theme="light"] .tab:hover {
	background-color: #fcfcfd;
}

:root[theme="light"] .tab[highlighted] {
	background-color: #f9f9fa;
}

:root[theme="light"] .tab[selected] {
	background-color: #e9e9ee;
}

:root[theme="light"] .title {
	color: #0c0c0d;
}

:root[theme="light"] .tab[discarded] .title {
	color: #737373;
}

:root[theme="light"] .tab:hover .title,
:root[theme="light"] .tab[selected] .title {
	color: #000000;
}

/* ::::: theme:dark ::::: */

:root[theme="dark"] {
	--background-color: rgb(38,38,40);
	--separator-color: rgb(98,100,110);
	--shadow-color: rgba(243,243,242,0.1);
	--shadow-color2: rgba(243,243,242,0.2);
	--hover-color: rgb(90,90,90);
	background-color: var(--background-color);
}

:root[theme="dark"] .tab:hover {
	background-color: #373954;
}

:root[theme="dark"] .tab[highlighted] {
	background-color: #303035;
}

:root[theme="dark"] .tab[selected] {
	background-color: #4a4a4f;
}

:root[theme="dark"] .title {
	color: #f9f9fa;
}

:root[theme="dark"] .tab[discarded] .title {
	color: #b1b1b3;
}

:root[theme="dark"] .tab:hover .title,
:root[theme="dark"] .tab[selected] .title,
:root[theme="dark"] label {
	color: #ffffff;
}

:root[theme="dark"] button img,
:root[theme="dark"] #newTab img,
:root[theme="dark"] .audio {
	filter: invert(1);
}

:root[theme="dark"] #contexts button img {
	filter: unset;
}

/* ::::: list ::::: */

#tabbox {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
}

#tabList {
	overflow-x: hidden;
	overflow-y: auto;
}

#tabList[overflow] {
	box-shadow: inset 0px 2px 4px var(--shadow-color);
}

:root[theme="dark"] #tabList[overflow] {
	box-shadow: inset 0px 2px 4px rgba(243,243,242,0.3);
}

#tabList[empty] {
	overflow-y: hidden !important;
}

#tabList:not([empty]) + #newTab {
	border-top-width: 0px;
}

#pinList:not(:empty) {
	border-bottom: 1px solid var(--separator-color);
}

/* ::::: tabs ::::: */

.tab {
	position: relative;
	border-bottom: 1px solid var(--separator-color);
	padding: 4px 4px 4px 7px;
}

.tab .bar {
	padding: 2px;
	display: flex;
	justify-content: stretch;
	align-items: center;
}

.tab .favicon {
	width: 16px; height: 16px;
	background-image: url("/icons/defaultFavicon.svg");
	background-size: 16px 16px;
	z-index: 5;
}

.tab[loading] .favicon {
	background-image: url("/icons/tab-connecting.png");
}

:root[theme="dark"] .tab[loading] .favicon,
:root[theme="dark"] .tab[url^="about:preferences"] .favicon,
:root[theme="dark"] .tab[url^="about:debugging"] .favicon {
	filter: invert(1);
}

.tab .title {
	flex: 1;
	padding-left: 4px;
	overflow: hidden;
	white-space: nowrap;
	z-index: 4;
}

.tab[selected] .title {
	font-weight: bold;
}

.tab[collapsed] {
	display: none;
}

button {
	border: unset;
	background: unset;
	margin: 0px;
	padding: 2px;
	line-height: 0px;
	border-radius: 2px;
}

button > * {
	vertical-align: middle;
}

button.close {
	z-index: 3;
}

button.close img {
	width: 14px;
	height: 14px;
	opacity: 0.7;
}

button:hover {
	background-color: var(--shadow-color);
}

button:active, button[checked] {
	background-color: var(--shadow-color2);
}

/* ::::: audio button ::::: */

.tab .audio {
	z-index: 6;
	display: none;
	width: 16px;
	height: 16px;
	margin-left: 2px;
}

.tab[playing] .audio {
	display: block;
	background-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing.svg");
}

.tab[muted] .audio {
	display: block;
	background-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted.svg");
}

.tab[pinned] .audio {
	position: absolute;
	top: 4px;
	right: 0px;
}

.tab[pinned][playing] .audio {
	display: block;
	background-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg");
}

.tab[pinned][muted] .audio {
	display: block;
	background-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
}

/* ::::: pinned tabs ::::: */

#pinList .tab {
	display: inline-block;
	border-bottom: none;
	border-right: 1px solid var(--separator-color);
	background-repeat: no-repeat;
	padding: 7px 8px 7px 10px;
	flex-direction: row;
}

#pinList .tab .title,
#pinList .tab .close,
#pinList .tab .thumbnail {
	display: none;
}

/* ::::: burst ::::: */

/* derived from chrome://browser/skin/browser.css */
.burst {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.burst::before {
	position: absolute;
	content: "";
	width: 5%;
	height: 100%;
	margin-inline-start: calc(12px - 2.5%);
}

.burst[bursting]::before {
	background-image: url("chrome://browser/skin/tabbrowser/loading-burst.svg");
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	animation: burst-animation 375ms cubic-bezier(0,0,.58,1);
	-moz-context-properties: fill;
	fill: var(--active-color);
}

@keyframes burst-animation {
	0%   { opacity: 0.5; transform: scale(1);  }
	100% { opacity: 0;   transform: scale(40); }
}

/* ::::: thumbnail ::::: */

.thumbnail {
	background-size: cover;
	z-index: 1;
	margin: 2px;
}

#tabList[mode="none"] .tab .thumbnail,
#tabList[mode="minimal"] .tab .thumbnail {
	height: 0;
	transition: 0.2s ease-out 0.1s;
}

#tabList[mode="compact"] .tab:not([unread]) .thumbnail {
	height: calc(var(--preview-height) * 0.2);
	transition: 0.2s ease-out 0.1s;
}

#tabList .tab[unread] .thumbnail,
#tabList[mode="minimal"] .tab[focus]:not([discarded]):not([url="about:blank"]) .thumbnail,
#tabList[mode="compact"] .tab[focus]:not([discarded]):not([url="about:blank"]) .thumbnail,
#tabList[mode="full"] .tab .thumbnail {
	height: var(--preview-height);
}

#tabList:not([mode="full"])[effect="true"] .tab .thumbnail {
	transform-origin: 0% 0%;
	transform: skew(45deg);
}

#tabList[effect="true"] .tab[unread] .thumbnail,
#tabList:not([mode="full"])[effect="true"] .tab[focus] .thumbnail {
	transform: skew(0deg);
}

/* ::::: new tab button ::::: */

#newTab {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 2px;
	border-top: 1px solid var(--separator-color);
	border-bottom: 1px solid var(--separator-color);
	transition: 1s;
}

#newTab[flash] {
	background-color: var(--active-color);
	transition: 0.1s;
}

#newTab img {
	opacity: 0.5;
}

#newTab:hover img {
	opacity: 1;
}

#tabbox[stacking="true"] #newTab {
	order: 1;
}

#tabbox[stacking="true"] #pinList {
	order: 2;
}

#tabbox[stacking="true"] #tabList {
	order: 3;
}

#tabbox[stacking="true"] #newTab {
	border-top-width: 0px;
}

/* ::::: drop feedback ::::: */

#dropline {
	position: absolute;
	background-color: #000;
	z-index: 10;
}

:root[theme="dark"] #dropline {
	background-color: #FFF;
}

/* ::::: active line ::::: */

.tab .line1,
.tab .line2 {
	position: absolute;
	z-index: 7;
}

#tabList .tab .line1 {
	top: 0;
	bottom: 0;
	left: 0;
	width: 5px;
	transform: scaleY(1);
}

#tabList .tab .line2 {
	top: 0;
	bottom: 0;
	right: 0;
	width: 4px;
	transform: scaleY(1);
}

#pinList .tab .line1 {
	left: 0;
	right: 0;
	top: 0;
	height: 4px;
	transform: scaleX(1);
}

#pinList .tab .line2 {
	left: 0;
	right: 0;
	bottom: 0;
	height: 3px;
	transform: scaleX(1);
}

.tab:hover .line1 {
	background-color: var(--hover-color);
}

.tab[highlighted] .line1, 
.tab[selected] .line1 {
	background-color: var(--active-color);
}

.tab[data-context] .line2 {
	background-color: var(--context-color);
}

#tabList[activeline="right"] .tab .line1 {
	left: unset;
	right: 0;
}

#tabList[activeline="right"] .tab .line2 {
	left: 0;
	right: unset;
}

/* ::::: hide scrollbar ::::: */

#tabList[hidescroll="true"] {
	overflow-y: scroll;
	margin-right: calc(var(--scroll-width) * -1);
}

/* ::::: popup ::::: */

#popup {
	border: 1px solid ThreeDShadow;
	background-color: ButtonFace;
	padding: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	position: absolute;
	min-width: 10em;
	z-index: 100;
}

#popup div {
	padding: 3px 6px;
	color: MenuText;
	font: menu;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#popup div:hover {
	background-color: rgb(144,200,246);
}

/* ::::: menu ::::: */

#menu:not([open]) {
	display: none;
}

#menu {
	position: absolute;
	bottom: 0px;
	display: flex;
	flex-direction: raw;
	align-items: end;
	padding: 1px;
	background-color: var(--background-color);
	border: 1px 1px 0px 0px solid var(--separator-color);
	border-top-right-radius: 6px;
	box-shadow: 2px -2px 2px var(--shadow-color);
	z-index: 99;
}

#menu button {
	display: block;
	margin: 1px;
	line-height: unset;
}

#menu hr {
	border: none;
	border-top: 1px solid var(--separator-color);
}

#menu[open="false"] button:not(#menu_toggle),
#menu[open="false"] #contexts {
	display: none;
}

#menu button img {
	opacity: 0.5;
}

#menu button:hover img,
#menu button:hover label {
	opacity: 1;
}

#contexts {
	align-self: flex-start;
	margin-left: 2px;
	padding: 0px 2px;
	border-left: 1px solid var(--separator-color);
}

#contexts button {
	width: 100%;
}

#contexts button img {
	width: 16px;
	height: 16px;
	-moz-context-properties: fill;
	opacity: unset;
}

#contexts button label {
	font: caption;
	opacity: 0.7;
	margin: 0px 4px;
}

#contexts button[checked] {
	font-weight: bold;
}

#context {
	display: none !important;
}

